[submodule "1a-value-types/lib/forge-std"]
	path = 1a-value-types/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "1b-storage-variables/lib/forge-std"]
	path = 1b-storage-variables/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
